@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
}

:root {
    font-family: "Manrope", sans-serif;
}

.my-container {
    @apply mx-4 sm:px-10 lg:px-20 xl:px-0 mb-10 md:mx-auto max-w-[1440px];
}

.heading-xl {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold text-gray-800;
}
.heading-lg {
    @apply text-xl md:text-2xl lg:text-3xl font-bold text-gray-800;
}

.heading-md {
    @apply font-semibold text-[18px] md:text-[19px] lg:text-xl text-gray-800;
}

.heading-sm {
    @apply font-medium text-[15px] md:text-lg lg:text-xl xl:text-xl text-gray-800;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    list-style: none;
}

.trainDiv:hover .trainIcon {
    transition: 2s;
    transform: scale(1.1);
}

.mySpin:hover .spinIcon {
    transition: 2s;
    transform: rotate(360deg);
}
.myTrainDiv:hover .myTrainIcon {
    transition: 2s;
    transform: scale(1.1);
}

.cardContainer:hover .cardImg {
    transition: 1s;
    transform: scale(1.1);
}

#goTopButtonContainer {
    border-radius: 50px;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    position: fixed;
    bottom: 60px;
    right: 60px;
    cursor: pointer;
    transition: all;
    z-index: 999;
}

#goTopButtonContainer:hover {
    background-color: rgb(254, 114, 0);
    color: white;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.scale-up-top {
    animation: myAnim 1.5s ease 1s 1 normal backwards;
}

@keyframes myAnim1 {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.scale-from-right {
    animation: myAnim1 1.5s ease 2s 1 normal backwards;
}

@keyframes myAnim2 {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.scale-from-bottom {
    animation: myAnim2 1.5s ease 2s 1 normal backwards;
}

@keyframes myAnim3 {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.scale-from-left {
    animation: myAnim3 1.5s ease 2s 1 normal backwards;
}

@keyframes subImg {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.scale-from-right-sum-img {
    animation: subImg 1.5s ease 6s 1 normal backwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.scale-from-back-sum-text {
    animation: myAnim 1.5s ease 6s 1 normal backwards;
}


@keyframes tranfortation {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.tranfortation{
    animation: tranfortation 2s ease 0s 1 normal forwards;
}
